/vendor/
node_modules/
npm-debug.log
yarn-error.log
.idea
.editorconfig
# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env
.phpunit.result.cache
Homestead.yaml
Homestead.json
/.vagrant
